@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background-color:#181719;
    color: white;
    width: 100%;
    max-width: 1440px;
}


#ham{
    display:none;
}
button{
    position:absolute;
    padding:8px;
    left: 77px;
    top: 42px;
    border:1px solid white;
    background-color: #181719;
    color: white;
}

#menu {
    font-size: 18px;
    font-family: Montserrat;
    margin-top: 45px;
    margin-left: 45%;
    text-align:center;
    
}
li{
    position: relative;
    display:inline;
    margin:6%;
    
}
#main{
    margin: 100px 45px;
    
    display:flex;
    width:100%;
}
.box1{
      width: 450px;
    font-family: 'Montserrat', sans-serif;
      
}

.box1 h2{
    font-size:45px;
    font-family: 'Lora', serif;
    letter-spacing:0.1em;
    margin-bottom:30px;
}
.box1 p{
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom:40px;
}

.box2{
   width: 58%;
    
}
.box2 > img{
    width: 100%;
    float: right;
}
  
.box2 >div{
    font-family: Lora;
    width: 410px;
    height:200px;
    background-color:#181719;
    position:absolute;
    top: 622px;
    left:721px;
    transition: left 0.5s;
}

#img2{
    height: 95px;
    width: 85px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 4%;
}

.namebox div:nth-child(1){
    margin-top:25px;
    margin-left: 20px;
    font-size: 25px;
}

.namebox div:nth-child(2){
    margin-top:0px;
    margin-left: 20px;
    font-size: 20px;
}

.box2 p{
    width: 90%;
    margin-left: 35px;
    font-size: 25px;
    margin-top: 10px;
}



footer{
   text-align:center;
    color:white;
    font-family: 'Lora', serif;
    font-size:20px;
    position: absolute;
    top: 1100px;
    bottom:0;
    width:100%;
}


@media screen and (max-width: 1100px){

body{
    width:90%;
}
#menu{
    display:none;
    
}
#ham {
    position: absolute;
    top:20px;
    left:95%;
    align-self: right;
    cursor: pointer;
    display:block;
    float: right;
    padding: 5px;
    font-size: 35px;
    line-height:70px;
    border: none;
}
#main{
    display:block;
    margin-left: 20%;
}

.box2 {
    width:80%; }

.box2 >div{
    font-family: Lora;
    width: 45%;
    height:20%;
    background-color:#181719;
    position:absolute;
    top: 850px;
    left: 350px;

}

.namebox div:nth-child(1){
    margin-top:25px;
    margin-left: 20px;
    font-size: 17px;
}

.namebox div:nth-child(2){
    margin-top:0px;
    margin-left: 20px;
    font-size: 14px;
}

.box2 p{
    width: 90%;
    margin-left: 35px;
    font-size: 20px;
    margin-top: 1px;
}
#img2{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 4%;
}


}


@media screen and (max-width: 900px){
   

       .box2 >div{
        width: 40%;
        height:30%;
        left:300px;
        top: 800px;
      
    }
    #img2{
        height: 50px;
        width: 50px;
    }
    .namebox div:nth-child(1){
         font-size: 14px;
    }
    
    .namebox div:nth-child(2){
        font-size: 11px;
    }
    
    .box2 p{
        width:70%;
        margin-left: 20px;
        font-size: 14px;
        margin-top: 5px;
    } 
    }

    @media screen and (max-width: 650px){
        
        .box1 h2{
            font-size:35px;    }
        .box1 p{
            font-size: 20px;
            width:80% }
        
       
        .box2 >div{
          width:50%;
          left: 200px;
          top:700px;
          
       
        } }
 @media screen and (max-width: 400px){
  
        .box1 h2{
             font-size:35px;}

        .box1 p{
            font-size: 20px;
            width:80% }
        
            .box2 >div{
                width: 75%;
                left: 100px;
                top:600px
            }
    }